flows.json
[
    {
        "id": "86781aa9.0faf78",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "86781aa9.0faf78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 847.0000076293945,
        "y": 88.00000190734863,
        "wires": []
    },
    {
        "id": "66ee788e.1888c8",
        "type": "ui_form",
        "z": "86781aa9.0faf78",
        "name": "",
        "label": "",
        "group": "374afdce.a26562",
        "order": 1,
        "width": "20",
        "height": "9",
        "options": [
            {
                "label": "Ask your query here!!",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "topic": "",
        "x": 134.60000133514404,
        "y": 301.600004196167,
        "wires": [
            [
                "4830fc29.f2cfd4"
            ]
        ],
        "l": false
    },
    {
        "id": "4830fc29.f2cfd4",
        "type": "function",
        "z": "86781aa9.0faf78",
        "name": "",
        "func": "msg.payload = msg.payload.input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 289.7111177444458,
        "y": 282.73334407806396,
        "wires": [
            [
                "a8ead6c6.9dfe18",
                "503f944e.5dffcc"
            ]
        ],
        "l": false
    },
    {
        "id": "a8ead6c6.9dfe18",
        "type": "watson-conversation-v1",
        "z": "86781aa9.0faf78",
        "name": "",
        "workspaceid": "e1958420-f2e3-4cef-821d-d79baa6d4626",
        "multiuser": false,
        "context": true,
        "empty-payload": true,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/50188b64-3373-4f8b-a660-04b42bae4cb5",
        "timeout": "",
        "optout-learning": false,
        "x": 532.6000366210938,
        "y": 170.60000610351562,
        "wires": [
            [
                "f2f2649a.0d0d98",
                "5fe57fb0.85eb8"
            ]
        ],
        "l": false
    },
    {
        "id": "5fe57fb0.85eb8",
        "type": "function",
        "z": "86781aa9.0faf78",
        "name": "",
        "func": "msg.payload.text=\"\";\nif(msg.payload.output.text[0].length <200)\n{\n    msg.payload = msg.payload.output.text[0];\n}\nelse{\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text = msg.payload.text +\"\\n\" + msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload = msg.payload.text;\n}\n\n// if(msg.payload.context.webhook_result_1.results){\n//     for(var i in msg.payload.context.webhook_result_1.results){\n//         msg.payload.text = msg.payload.text + msg.payload.context.webhook_result_1.results[i].text;\n//     }\n//     msg.payload = msg.payload.text;\n// }\n// else{\n// msg.payload = msg.payload.output.text[0];\n// }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 684.1999845504761,
        "y": 312.00000381469727,
        "wires": [
            [
                "9a502c41.835b3",
                "2f45a6c.af84b5a"
            ]
        ],
        "l": false
    },
    {
        "id": "9a502c41.835b3",
        "type": "debug",
        "z": "86781aa9.0faf78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 884.0000406901041,
        "y": 235.55555555555554,
        "wires": [],
        "l": false
    },
    {
        "id": "8525a2be.51426",
        "type": "inject",
        "z": "86781aa9.0faf78",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 48.44445122612847,
        "y": 114.44444444444444,
        "wires": [
            [
                "66ee788e.1888c8"
            ]
        ],
        "l": false
    },
    {
        "id": "503f944e.5dffcc",
        "type": "ui_template",
        "z": "86781aa9.0faf78",
        "group": "374afdce.a26562",
        "name": "you",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n<label style=\"color:green; font-size:25px;\">You: </label>\n<label ng-bind-html=\"msg.payload\" style=\"color:grey; font-size:20px;\"> </label>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 290.6666736602783,
        "y": 467.11111068725586,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "2f45a6c.af84b5a",
        "type": "ui_template",
        "z": "86781aa9.0faf78",
        "group": "f91c3a9d.fd0e28",
        "name": "bot",
        "order": 1,
        "width": "21",
        "height": "9",
        "format": "<div>\n    <label style=\"color:green; font-size:25px;\">Bot: </label>\n    <label ng-bind-html=\"msg.payload\" style=\"color:#2F4F4F; font-size:15px;\"></label>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 786.2222629123264,
        "y": 427.11110432942706,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "374afdce.a26562",
        "type": "ui_group",
        "z": "",
        "name": "Ask me anything about our product",
        "tab": "b956dbbd.a71f38",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "f91c3a9d.fd0e28",
        "type": "ui_group",
        "z": "",
        "name": "CHATBOT  :",
        "tab": "b956dbbd.a71f38",
        "order": 3,
        "disp": true,
        "width": "21",
        "collapse": false
    },
    {
        "id": "b956dbbd.a71f38",
        "type": "ui_tab",
        "z": "",
        "name": "Ecobee- Customer Help desk chatbot",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]